.App {
  text-align: center;
}

#root-layout {
  min-height: 100vh;

  & aside.ant-layout-sider {
    margin: 10px 15px;
    border-radius: 4px;
    background: #fff;
    padding: 20px 10px;
  }

  & .spinner-container {
    height: 600px;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  & #search-layout-header {
    padding: 15px 10px;
    background: white;
    margin: 10px 20px;
  }

  & #search-layout-content-container {
    margin: 0 10px;
  }

  & #search-result-container {
    text-align: center;
  }

  & .main-result-title {
    text-align: center;
    width: 100vw;
  }
}